django>=2.2,<2.3
opencivicdata>=3.1.0

# Make locations optional
https://github.com/opencivicdata/pupa/archive/d4b10ac620c6657f69916918585bce65b51eec79.zip 

https://github.com/opencivicdata/python-legistar-scraper/archive/master.zip
django-councilmatic==2.5.5
lxml
sh
pytest==4.2.0
pytest-mock==1.10.1
requests-mock==1.5.2
raven==6.10
requests[security]
