https://github.com/opencivicdata/pupa/archive/master.zip
https://github.com/opencivicdata/python-legistar-scraper/archive/master.zip
django-councilmatic==3.1
lxml
sh 
pytest==5.4.3
pytest-mock==1.10.1
requests-mock==1.5.2
raven==6.10
requests[security]
